langchain~=0.0.306
openai
streamlit~=1.27.2
requests~=2.31.0
streamlit-extras
watchdog
python-dotenv
pypdf2~=3.0.1
InstructorEmbedding
sentence-transformers
huggingface-hub
faiss-cpu
pillow~=10.0.1
pytesseract~=0.3.10
pdf2image